<div class="container body-content">

    <h1>@ViewBag.title</h1>

    <form action="/search/results" method="post">
        <h2>Search by:</h2>

        <p>
            @foreach (var column in ViewBag.columns)
            {
                @if (column.Key == ViewBag.selection)
                {
                    <span>
                        <input type="radio" name="searchType" id="@column.Key" value="@column.Key" checked="checked" />
                        <label for="@column.Key">@column.Value</label>
                    </span>
                }
                else
                {
                    <span>
                        <input type="radio" name="searchType" id="@column.Key" value="@column.Key" />
                        <label for="@column.Key">@column.Value</label>
                    </span>
                }
            }

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    @{
        //TODO #4: Loop over the search results to display all job fields.
    }

    @foreach (var job in ViewBag.jobs)
    {
        <table class="job-listing">
            <tr>
                <td>ID: </td>
                <td>@job.Id</td>
            </tr>
            <tr>
                <td>Name: </td>
                <td>@job.Name</td>
            </tr>
            <tr>
                <td>Employer: </td>
                <td><a asp-controller="Search" asp-action="Results" asp-route-searchType="employer" asp-route-searchTerm="@job.Employer">@job.Employer</a></td>
            </tr>
            <tr>
                <td>Location: </td>
                <td><a asp-controller="Search" asp-action="Results" asp-route-searchType="location" asp-route-searchTerm="@job.Location">@job.Location</a></td>
            </tr>
            <tr>
                <td>Position Type: </td>
                <td><a asp-controller="Search" asp-action="Results" asp-route-searchType="positionType" asp-route-searchTerm="@job.PositionType">@job.PositionType</a></td>
            </tr>
            <tr>
                <td>Skill: </td>
                <td><a asp-controller="Search" asp-action="Results" asp-route-searchType="coreCompetency" asp-route-searchTerm="@job.CoreCompetency">@job.CoreCompetency</a></td>
            </tr>
        </table>
    }

    
</div>